*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: poppins;
}
a{
    color: white;
}
.navbar{
    background-color: #2C64F4;
}
.navbar nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1100px; 
}
.logo-dashboard a{
    margin-left: 10px;
    margin-right: 50px;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-dashboard svg{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.logo-dashboard h2{
    font-size: 20px;
    font-weight: 600;
    width: 142px;
    color: white;
}
.sidebar{
    background-color: #5465FF;
    width: 278px;
    height: 680px;
    position: absolute;
}
.sidebar nav{
    padding-top: 60px;
}
li{
    margin-bottom: 45px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
}
.sidebar nav li:nth-child(6){
    margin-top: 200px;
}
.main-content{
    padding-top: 30px;
    margin-left: 278px;
}
.main-content p{
    background-color: #2C64F4;
    width: 190px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 115px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-bottom: 30px;
}
table{
    background-color: #D9D9D9;
    width: 1200px;
    margin: auto;
    
}
th{
    background-color: #2C64F4;
    color: white;
    height: 30px;
    width: 400px;
}
tr{
    text-align: center;
}
tr :nth-child(1){
    width: 40px;
}
tr :nth-child(4){
    text-align: left;
}