* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
}
/* header */
.navbar {
    display: flex;
    align-items: center;
    background-color: #53A1C4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 100px;
  }
  .navbar a{
  color: #fff;
  }
  /* sidebar */
  .sidebar svg {
  width: 60px;
  height: 60px;
  color: white;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  cursor: pointer;
  }
  
  .side{
  height: 680px;
  width: 250px;
  list-style: none;
  background-color: #53A1C4;
  position: fixed;
  top: 100px;
  left: -300px;
  transition: 0.5s;
  }
  .side li:nth-child(5){
    margin-top: 280px;
  }
  .side li{
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
  }
  .side li a {
  padding-left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: -20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.5s;
  }
  .side li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  }
  .side-open{
  left: 0;
  }
  .side button{
  background: none;
  border: none;
  
  }
  .side button svg{
  width: 50px;
  height: 50px;
  }
  /* /sidebar */
  
  .logo a{
  margin-left: 10px;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .logo svg{
  width: 60px;
  height: 60px;
  margin-right: 10px;
  }
  .logo h2{
    font-size: 20px;
    font-weight: 600;
    width: 142px;
    color: white;
  }
  .profil a{
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  margin-left: 1100px;
  }
  
  /*Navbar nav*/
  .navbar-nav {
    background-color: #CDDDE4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
  }
  .navbar-nav-link{
    display: flex;
    width: 500px;
    margin: 0 auto;
    align-items: center;
  }
  .navbar-nav .navbar-nav-link a{
  color: #070708;
  margin: 0 auto;
  font-weight: 500;
  }
  /* /header */

h1{
    padding-top: 130px;
    margin-left: 50px;
}
form{
    width: 700px;
    height: 570px;
    background-color: #53A1C4;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
.input-boxs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
    gap: 10px;
    justify-content: space-between;
    text-align: left;

}
.input-box{
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100px;
    text-align: left;
    gap: 5px;
}
.input-box input{
    width: 269px;
    height: 68px;
    border-radius: 10px;
    border: none;
    text-indent: 20px;
    padding-right: 10px;
}
.input-box input::placeholder{
    color: rgb(197, 197, 197);
}
select{
  width: 269px;
  height: 68px;
  border-radius: 10px;
  border: none;
  text-indent: 20px;
  padding-right: 10px;
}

button{
    width: 269px;
    height: 68px;
    border-radius: 15px;
    border: none;
    background-color: #9DCADE;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
}
button a{
  color: white;
}
button a:hover{
  color: #53A1C4;

}
button:hover{
  color: #53A1C4;
  background-color: white;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
