*{
    font-family: poppins;
    list-style: none;
    text-decoration: none;
}
/*  pop up */
.setting-close{
    margin: auto;
    width: 800px;
    height: 700px;
    background-color: #53A1C4;
    border: 5px solid white;
    border-radius: 15px;
}
.head-1{
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.head-1 h1 a{
    cursor: pointer;
    color: white;

}
.head-1 h1:last-child{
  background-color: #9DCADE;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
  margin-left: 30px;
  margin-top: 20px;
}
.head-1  svg{
    height: 50px;
    width: 50px;
    margin-right: 50px;
    cursor: pointer;
}
form{
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  color: #fff;    
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.input-box input {
  width: 280px;
  height: 60px;
  border-radius: 10px;
  text-indent: 15px;
  border: none;
}

.input-box select {
  width: 280px;
  height: 60px;
  border-radius: 10px;
  text-indent: 15px;
  border: none;
}
button{
  width: 180px;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: #9DCADE;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 40px;
}
