*{
    padding: 0;
    margin: 0;
    font-family: poppins;
    text-decoration: none;

}
/* header */
.navbar {
  display: flex;
  align-items: center;
  background-color: #53A1C4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 100px;
}
.navbar a{
color: #fff;
}
/* sidebar */
.sidebar svg {
width: 60px;
height: 60px;
color: white;
height: 100px;
justify-content: center;
align-items: center;
margin-left: 30px;
margin-right: 20px;
cursor: pointer;
}

.side{
height: 680px;
width: 250px;
list-style: none;
background-color: #53A1C4;
position: fixed;
top: 100px;
left: -300px;
transition: 0.5s;
}
.side li:nth-child(5){
  margin-top: 280px;
}
.side li{
display: flex;
align-items: center;
margin-left: 40px;
margin-top: 40px;
}
.side li a {
padding-left: 10px;
width: 100%;
display: flex;
align-items: center;
margin-left: -20px;
text-decoration: none;
color: white;
font-size: 20px;
font-weight: bold;
transition: background-color 0.5s;
}
.side li a:hover {
background-color: rgba(255, 255, 255, 0.3);
}
.side-open{
left: 0;
}
.side button{
background: none;
border: none;

}
.side button svg{
width: 50px;
height: 50px;
}
/* /sidebar */

.logo a{
margin-left: 10px;
margin-right: 130px;
width: 250px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}
.logo svg{
width: 60px;
height: 60px;
margin-right: 10px;
}
.logo h2{
  font-size: 20px;
  font-weight: 600;
  width: 142px;
  color: white;
}
.profil a{
color: #fff;
font-weight: 500;
font-size: 24px;
margin-left: 1000px;
}

/*Navbar nav*/
.navbar-nav {
  background-color: #CDDDE4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 100px;
}
.navbar-nav-link{
  display: flex;
  width: 500px;
  margin: 0 auto;
  align-items: center;
}
.navbar-nav .navbar-nav-link a{
color: #070708;
margin: 0 auto;
font-weight: 500;
}
/* /header */

.container{
    margin-top: 150px;
}
.sejarah{
    margin-left: auto;
    margin-right: auto;
    width: 978px;
    margin-top: 165px;
}
h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 30px;
}

p{
    text-align:justify;
    justify-content: center;
    font-size: 19px;
    text-indent: 20px;

}